<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        />
    </head>
    <body>
        <div class="row d-flex justify-content-center mt-100 mb-100">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title m-b-0">
                            学生の方々における個人情報の保護方針について
                        </h4>
                        <p class="card-title">
                            本報告書にご記載いただく個人情報について、第一工科大学に関するプライバシーポリシーを以下に記載いたしますので、ご確認いただきますようお願い申し上げます。
                        </p>
                    </div>

                    <ul class="list-style-none">
                        <li class="d-flex no-block card-body">
                            <div>
                                <h2
                                    href="#"
                                    class="m-b-0 font-medium p-0"
                                    data-abc="true"
                                >
                                    個人情報の使用について
                                </h2>
                                <br />
                                <span class="text-muted"
                                    >本報告書でご提供いただきました個人情報は、本学の入試広報業務以外の用
                                    途には、一切使用しません。
                                </span>
                            </div>
                        </li>
                        <li class="d-flex no-block card-body border-top">
                            <div>
                                <h2
                                    href="#"
                                    class="m-b-0 font-medium p-0"
                                    data-abc="true"
                                >
                                    個人情報の管理について
                                </h2>
                                <span class="text-muted"
                                    >本報告書でご提供いただきました個人情報に関しましては、本学にて厳重に
                                    管理し、個人情報の保護に努めます。</span
                                >
                            </div>
                        </li>
                        <li class="d-flex no-block card-body border-top">
                            <div>
                                <h2
                                    href="#"
                                    class="m-b-0 font-medium p-0"
                                    data-abc="true"
                                >
                                    個人情報の第三者への提供について
                                </h2>
                                <span class="text-muted"
                                    >個人情報保護法等の法令に定めのある場合を除き、個人情報をあらかじめご本人の
                                    同意を得ることなく、第三者に提供致しません。.</span
                                >
                            </div>
                        </li>
                        <li class="d-flex no-block card-body border-top">
                            <div>
                                <h2
                                    href="#"
                                    class="m-b-0 font-medium p-0"
                                    data-abc="true"
                                >
                                    個人情報取り扱いの改善について
                                </h2>
                                <span class="text-muted"
                                    >個人情報の取り扱いに関しましては、適宜その改善に努めて参ります。</span
                                >
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
